  <div class="module">

    <h1>SOLVE THE RIDDLE!</h1>


    <h2>
        <%= @riddle.question %>
    </h2>

    <button type="button" class="btn btn-outline-dark btn-sm float-right" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Answer</button>

  </div>

  <div class="module collapse mod-answer" id="collapseExample">
    <h2 class="riddle-answer"><%= @riddle.answer %></h2>
  </div>
